.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #f2f2f2;
}
.queueContainer {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
hr {
  border: 0;
  height: 1px;
  background: #333;
}
.dialpad-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 200px;
  margin: auto;
}

/* Each button on the dialpad */
.dialpad-button {
  padding: 20px;
  font-size: 24px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.dialpad-button:hover {
  background-color: #ccc;
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../public/Inter-Bold.woff2?v=3.19") format("woff2"),
       url("../public/Inter-Bold.woff?v=3.19") format("woff");
}
