.loginPage {
    background: #eff3f6;
    height: 100vh;  /* Use viewport height */
    margin: 0;
    padding: 0;
    display: flex;  /* Use Flexbox */
    align-items: center;  /* Center vertically */
    justify-content: center;  /* Center horizontally */
  }
  
  .box {
    background: #fefefe;
    border: 1px solid #C3D4DB;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    font: normal 12px/14px Arial, Helvetica, Sans-serif;
    margin: 0 auto 30px;
    overflow: hidden;
  }
  
  .box.login {
    height: auto;
    width: auto;
  }
  
  .boxBody {
    background: #fefefe;
    border-top: 1px solid #dde0e8;
    padding: 10px 20px;
  }
  
  .box footer {
    background: #eff4f6;
    border-top: 1px solid #dde0e8;
    padding: 22px 26px;
    overflow: hidden;
    height: 36px;
  }
  
  .box label,
  .box footer label {
    display: block;
    font-size: 14px;
    margin: 10px 0 0 6px;
  }
  
  .box footer input[type=checkbox] {
    vertical-align: sub;
    margin-right: 10px;
  }
  
  /* Consolidated similar styles */
  .box input[type=email],
  .box input[type=password],
  .txtField,
  .cjComboBox {
    border: 6px solid #F7F9FA;
    border-radius: 3px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin: 3px 0 4px;
    padding: 8px 6px;
    width: 270px;
    display: block;
  }
  
  /* Focus styles */
  .box input[type=email]:focus,
  .box input[type=password]:focus,
  .txtField:focus,
  .cjComboBox:focus {
    border: 6px solid #f0f7fc;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    color: #333;
  }
  
  .cjComboBox {
    width: 294px;
  }
  
  /* Using !important is discouraged, consider increasing specificity */
  .cjComboBox.small,
  .txtField.small {
    padding: 3px 2px 3px 6px;
    width: 100px;
    border-width: 3px;
  }
  
  /* Alert Boxes */
  .alert, .info, .error {
    text-align: center;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid;
    border-bottom: 2px solid;
  }
  
  .alert {
    background: #fff6bf url(../assets/exclamation.png) center no-repeat;
    background-position: 15px 50%; 
    border-color: #ffd324;
  }
  
  .info {
    background: #CDFECD url(../assets/information.png) center no-repeat;
    background-position: 15px 50%;
    border-color: #90EE90;
  }
  
  .error {
    background: #FFBFBF url(../assets/error.png) center no-repeat;
    background-position: 15px 50%;
    border-color: #FF2424;
  }
  footer#main{
	position:relative;
	left:0;
	bottom: -57%;
	text-align:center;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	width:100%;
	padding-bottom:3%;
	
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 508px; 
    max-height: 300px;/* You can adjust this */
  }
  .login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }