.smsPage {
  height: calc(100vh - 64px);
  font-family: 'Roboto', sans-serif; /* Added */
}

.smsColumns {
  display: flex;
  height: 100%;
}

.leftColumn, .rightColumn {
  flex: 1;
  max-height: 100%; 
  border: none; /* Added */
}

.leftColumn {
  padding-right: 8px;
}

.rightColumn {
  flex: 1;
  padding-bottom: 60px;
  padding-left: 8px
}

.conversationList, .messageList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.messageItem {
  padding: 12px 0; /* Increased padding */
}

.sent, .received {
  display: inline-block;
  border-radius: 12px;
  margin: 5px;
  padding: 10px;
  max-width: 70%; /* Ensures messages don't stretch too wide */
  word-wrap: break-word; /* Ensures long words don't overflow */
}

.sent {
  background-color: #007AFF;
  color: white;
  float: right;
  clear: both;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Added */
}

.received {
  background-color: #f0f0f0; /* Lightened */
  color: #333; /* Darkened */
  float: left;
  clear: both;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Added */
}

.inputField {
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: #f8f8f8;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e0e0e0;
  z-index: 1000;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
  border-radius: 8px 8px 0 0; /* Added */
}

.inputField input {
  width: 85%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #e0e0e0; /* Lightened */
  outline: none;
  box-shadow: none; /* Removed */
  background-color: #FFFFFF;
}

.inputField button {
  background-color: #007AFF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s; /* Added */
}

.inputField button:hover {
  background-color: #005BB5;
}

.conversationCard {
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #e0e0e0; /* Lightened */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Added */
}

.conversationCard:hover {
  background-color: #f0f0f0; /* Lightened */
}

.messageList {
  flex-grow: 1;
}